<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments.html :: head"></th:block>
<body>
<th:block th:replace="fragments.html :: main-nav"></th:block>

<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html :: settings-menu(currentMenu='notifications')"></div>
        </div>
        <div class="col-8">
            <div class="row m-1">
                <h1 class="col-sm-12">알림 설정</h1>
            </div>
            <div class="row mt-3">
                <form id="needs-validation" class="col-sm-6" th:action="@{/settings/notifications}" th:object="${notifications}" method="POST" novalidate >
                    <div class="form-group row">
                       <p>주요 활동지역에 관심있는주제의 스터디가 만들어졌을 때 받을 방법을 설정하세요</p>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="studyCreatedByEmail" th:field="*{studyCreatedByEmail}">
                            <label class="custom-control-label" for="studyCreatedByEmail">이메일로 받기</label>
                        </div>
                            <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="studyCreatedByWeb" th:field="*{studyCreatedByWeb}">
                            <label class="custom-control-label" for="studyCreatedByWeb">웹으로 받기</label>
                        </div>
                    </div>

                    <p>스터디 참가 신청 결과 알림을 받을 방법을 설정하세요</p>
                    <div class="form-group row">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="studyEnrollmentResultByEmail"
                                   th:field="*{studyEnrollmentResultByEmail}">
                            <label class="custom-control-label" for="studyEnrollmentResultByEmail">이메일로 받기</label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="studyEnrollmentResultByWeb"
                                   th:field="*{studyEnrollmentResultByWeb}">
                            <label class="custom-control-label" for="studyEnrollmentResultByWeb">웹으로 받기</label>
                        </div>
                    </div>
                    <p>관심있는 스터디에 대한 알림을 받을 방법을 설정하세요</p>
                    <div class="form-group row">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="studyUpdatedByEmail"
                                   th:field="*{studyUpdatedByEmail}">
                            <label class="custom-control-label" for="studyUpdatedByEmail">이메일로 받기</label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="studyUpdatedByWeb"
                                   th:field="*{studyUpdatedByWeb}">
                            <label class="custom-control-label" for="studyUpdatedByWeb">웹으로 받기</label>
                        </div>

                    </div>
                    <div class="form-group">
                        <button type="sibmit" class="btn btn-primary btn-block">저장하기</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <th:block th:replace="fragments.html :: footer"></th:block>
</div>
<script th:replace="fragments.html :: form-validation">

</script>
</body>
</html>