<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input name="uploadFiles" type="file" multiple>
<button id="uploadBtn">upload</button>

<div id="uploadResult"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    document.getElementById("uploadBtn").addEventListener("click",function () {
        var formData = new FormData();
        var inputFile = document.getElementsByName("uploadFiles");

        var files = inputFile[0].files;

        for(var i=0; i < files.length; i++){
            console.log(files[i]);
            formData.append("uploadFiles",files[i]);
        }

        $.ajax({
            url:'/uploadAjax',
            processData:false,
            contentType:false,
            data:formData,
            type:'POST',
            dataType:'json',
            success:function (result) {
                console.log(result);
                showUploadImage(result);
            },
            error:function (xhr,textStatus,errorThrown) {
                console.log(textStatus);
            }
        })//ajax
    })//upload func

    function showUploadImage(arr) {
        var divArea = document.getElementById("uploadResult");

        let str="";
        for(let i=0; i<arr.length; i++){
            str += "<div>";
            str +="<img src='/display?fileName="+arr[i].thumbnailURL+"'>";
            str += "<button class='removeBtn' data-name='"+arr[i].imageURL+"'>REMOVE</button>"
            str += "</div>";

        }
        divArea.innerHTML = str;
    }


    $(document).on('click','.removeBtn',function () {
        var target = $(this);

        var fileName = target.data("name");

        var targetDiv = $(this).closest("div");
        console.log("filename :"+fileName);
        console.log("targetDiv : "+ targetDiv);

        $.ajax({
            url:'/removeFile',
            type:'POST',
            dataType: 'json',
            data: {fileName:fileName},
            success:function (result) {
                console.log("result : "+result);
                if(result == true){
                    targetDiv.remove();
                }
            }
        })//ajax
    })//removebtn









</script>
</body>
</html>