<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- head -->
<th:block th:replace="fragments.html :: head"></th:block>

<body class="bg-light">
<th:block th:replace="fragments.html :: main-nav"></th:block>
<div th:replace="fragments.html :: study-banner"></div>

<div class="container">
    <div th:replace="fragments.html :: study-info"></div>
    <!--menu -->
    <div th:replace="fragments.html :: study-menu(studyMenu='members')"></div>

    <div class="row px-3 justify-content-center">

        <li th:each="member : ${study.managers}">
            <svg th:if="${#strings.isEmpty(member.profileImage)}"></svg>
            <img th:if="${!#strings.isEmpty(member.profileImage)}" />
            <h5 class="mt-0 mb-1"><span th:text="${member.nickname}"></span>

            </h5>
            <span th:text="${member.bio}">

            </span>
        </li>
        <li th:each="member : ${study.members}">
            <svg th:if="${#strings.isEmpty(member.profileImage)}"></svg>
            <img th:if="${!#strings.isEmpty(member.profileImage)}" />
            <h5 class="mt-0 mb-1"><span th:text="${member.nickname}"></span>

            </h5>
            <span th:text="${member.bio}">

            </span>
        </li>
    </div>
    <!--footer -->
    <th:block th:replace="fragments.html :: footer"></th:block>
</div>
<script type="application/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

</body>
</html>