<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- head -->
<th:block th:replace="fragments.html :: head"></th:block>

<body class="bg-light">
<th:block th:replace="fragments.html :: main-nav"></th:block>
<div th:replace="fragments.html :: study-banner"></div>

<div class="container">
    <div th:replace="fragments.html :: study-info"></div>
    <!--menu -->
    <div th:replace="fragments.html :: study-menu(studyMenu='members')"></div>

    <div th:replace="fragments.html :: member-list(members=${study.managers},isManager=${true})"></div>
    <div th:replace="fragments.html :: member-list(members=${study.members},isManager=${false})"></div>
    <!--footer -->
    <th:block th:replace="fragments.html :: footer"></th:block>
</div>
<script type="application/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

</body>
</html>