<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- head -->
<th:block th:replace="fragments.html :: head"></th:block>

<body class="bg-light">
<th:block th:replace="fragments.html :: main-nav"></th:block>
<div th:replace="fragments.html :: study-banner"></div>

<div class="container">
    <div th:replace="fragments.html :: study-info"></div>
    <!--menu -->
    <div th:replace="fragments.html :: study-menu(studyMenu='settings')"></div>
    <div class="row mt-3 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html ::study-settings-menu ('image')" class="list-group"></div>
        </div>

        <div class="col-8">
            <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                <span th:text="${message}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
            </div>
            <h1>배너 이미지 사용</h1>
            <div  class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                <span>스터디 메뉴에서 스터디 배너 이미지를 사용합니다. 스터디 배너 이미지를 아직 설정하지 않았다면,
                기본 배너 이미지를 사용합니다.</span>
            </div>
            <form th:if="${study.useBanner}" class="col-sm-10" action="#"
                  th:action="${'/study/'+study.path+'/settings/banner/disable'}"  method="post">
            <div>
                <button class="btn btn-primary btn-block" type="submit"
                        aria-describedby="submitHelp">배너 이미지 중지</button>
            </div>
            </form>
            <form th:if="${!study.useBanner}" class="col-sm-10" action="#"
                  th:action="${'/study/'+study.path+'/settings/banner/enable'}"  method="post">
                <div>
                    <button class="btn btn-primary btn-block" type="submit"
                            aria-describedby="submitHelp">배너 이미지 사용하기</button>
                </div>
            </form>
            <hr>

            <div class="col-sm-10">
                <div class="card text-center">
                    <div class="card-header">
                        프로필 이미지
                    </div>
                    <div class="card-body">
                        <div id="current-profile-image" th:class="my-3">
                            <img class="rounded" th:src="${study.image}" width="640" alt="name" th:alt="${study.title}"/>

                        </div>
                        <div id="new-profile-image" th:class="my-3"></div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="profile-image-file">
                            <label class="custom-file-label" for="profile-image-file">프로필 이지미 변경</label>
                        </div>

                        <div class="card-footer">
                            <div id="new-profile-image-control" class="mt-3">
                                <button class="btn btn-outline-primary" id="cut-button">자르기</button>
                                <button class="btn btn-outline-success" id="confirm-button">확인</button>
                                <button class="btn btn-outline-danger" id="reset-button">취소</button>
                                <form method="post"  th:action="${'/study/'+study.path+'/settings/banner/image'}">
                                    <input id="image" type="hidden" name="image" class="form-control" />
                                <button type="submit" class="btn btn-outline-danger" id="done-button">이미지 바꾸기</button>
                                </form>
                            </div>
                            <div id="cropped-new-profile-image" class="mt-3"></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!--footer -->
    <th:block th:replace="fragments.html :: footer"></th:block>
</div>
<script type="application/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script th:replace="fragments.html :: form-validation"></script>
<link  href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet">
<script src="/node_modules/cropper/dist/cropper.min.js"></script>
<script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
<script type="application/javascript">
    $(document).ready(function () {
        cropper = '';
        let $confirmBtn = $("#confirm-button");
        let $resetBtn = $("#reset-button");
        let $cutBtn = $("#cut-button");
        let $newProfileImage = $("#new-profile-image");
        let $currentProfileImage = $("#current-profile-image");
        let $resultImage = $("#cropped-new-profile-image");
        let $profileImage = $("#profileImage");
        let $doneBtn = $("#done-button");

        $newProfileImage.hide();
        $cutBtn.hide();
        $resetBtn.hide();
        $confirmBtn.hide();
        $doneBtn.hide();

        $("#profile-image-file").change(function(e) {
            if (e.target.files.length === 1) {
                const reader = new FileReader();
                reader.onload = e => {
                    if (e.target.result) {
                        if(!e.target.result.startsWith("data:image")){
                            alert('이미지 파일을 선택하세요.')
                            return;
                        }
                        let img = document.createElement("img");
                        img.id = 'new-profile';
                        img.src = e.target.result;
                        img.setAttribute('width','100%');

                        $newProfileImage.html(img);
                        $newProfileImage.show();
                        $currentProfileImage.hide();

                        let $newImage = $(img);
                        $newImage.cropper({aspectRatio: 13/2});
                        cropper = $newImage.data('cropper');

                        $cutBtn.show();
                        $confirmBtn.hide();
                        $resetBtn.show();
                    }
                };

                reader.readAsDataURL(e.target.files[0]);
            }
        });

        $resetBtn.click(function () {
            $resultImage.hide();
            $profileImage.val('');
            $resetBtn.hide();
            $confirmBtn.hide();
            $cutBtn.hide();
            $newProfileImage.hide();

        })

        $cutBtn.click(function () {
            let dataUrl = cropper.getCroppedCanvas().toDataURL();
            let newImage = document.createElement("img");
            newImage.id="cropped-new-profile-image";
            newImage.src=dataUrl;
            newImage.setAttribute('width','100%');
            $resultImage.html(newImage);
            $resultImage.show();
            $confirmBtn.show();

            $confirmBtn.click(function () {
                $doneBtn.show();
                $confirmBtn.hide();
                $cutBtn.hide();
                $resetBtn.hide();
                $newProfileImage.html(newImage);
                $profileImage.val(dataUrl);
                $("#image").val(dataUrl);

                $doneBtn.click(function () {

                })
            })
        })
    });


</script>


</body>
</html>