<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index.html :: header"></head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper" th:replace="index.html :: sidebar">
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" >
        <div th:replace="index.html :: message"></div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" th:replace="index.html :: navbar"></nav>

        <div class="container-fluid">
                <div class="form-group">
                    <label>제목</label>
                    <input class="form-control" type="text" th:value="${boardDTO.title}" readonly>
                </div>

            <div class="form-group">
                <label for="content">상세 소개</label>
                <textarea id="content" type="textarea" name="content"  class="form-control"
                           aria-describedby="emailHelp" readonly>[[${boardDTO.content}]]</textarea>
            </div>

                <div class="form-group">
                    <label>글쓴이</label>
                    <input class="form-control" type="text" name="writer" id="writer" th:value="${boardDTO.writer}" readonly>
                </div>
            <div>
                <a th:href="@{/board/modify/(bno=${boardDTO.bno},page=${pageRequestDTO.page},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}">수정</a>
                <a th:href="@{/board/list/(page=${pageRequestDTO.page},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}">목록</a>
                <form method="post" th:action="@{/board/remove}">
                    <input type="hidden" name="bno" id="bno" th:value="${boardDTO.bno}">
                </form>
                <button class="btn btn-danger removeBtn"  type="button" th:if="${#authentication.name == boardDTO.writer}">삭제</button>
            </div>

        </div>
        <hr>

        <div class="card mb-1">
            <div class="card-header bg-light">
                <i class="fa fa-comment fa"></i> REPLY
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="form-inline mb-1">
                            <label for="replyId"><i class="fa fa-user-circle-o fa-2x"></i></label>
                            <input type="text" class="form-control ml-2" placeholder="Enter yourId" id="replyId" th:value="${boardDTO.writer}" readonly>
                            <!--<label for="replyPassword" class="ml-4"><i class="fa fa-unlock-alt fa-2x"></i></label>
                            <input type="password" class="form-control ml-2" placeholder="Enter password" id="replyPassword">-->
                        </div>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <button type="button" class="btn btn-dark mt-3" onClick="javascript:addReply();">post reply</button>
                    </li>
                </ul>
            </div>
        </div>


        <div class="card mb-2 mx-2 replies">
           <!-- <div class="card-header bg-light">
                <i class="fa fa-comment fa"></i> REPLY
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <span class="list-group">내용</span>
                        <button type="button" class="btn btn-dark btn-sm mt-3" onClick="javascript:addReply();">답글</button>
                    </li>
                </ul>
            </div>-->
        </div>



    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript --> <!-- Menu Toggle Script -->
<div th:replace="index.html :: bootstrap-jquery"></div>
<div th:fragment="editor-script">

    <script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
    <script type="application/javascript">
        $(function () {
            $('#content').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
                placeholder: '스터디의 목표, 일정, 진행 방식, 사용할 교재 또는 인터넷 강좌 그리고 모집중인 스터디원 등 스터디에 대해 자세히 적어 주세요.',
                tabsize: 2,
                height: 300
            });
        });
    </script>

    <script th:inline="javascript">
        $(document).ready(function () {
            var bno = [[${boardDTO.bno}]];
            $(function () {
                $.ajax({
                    url:'/reply/list/'+bno,
                    type:'get',
                    success:function (data) {
                        var str ="";
                       var listGroup = $(".replies");

                        $.each(data,function (idx,reply) {
                            console.log(reply);
                        str+='  <div class="card-header bg-light">'
                        str+='     <i class="fa fa-comment fa"></i><span class="ml-2">'+reply.replyer+'</span>'
                        str+='     </div>'
                        str+='     <div class="card-body">'
                        str+='     <ul class="list-group list-group-flush">'
                        str+='     <li class="list-group-item">'
                        str+='     <span class="list-group">'+reply.text+'</span>'
                        str+='     <button type="button" class="btn btn-dark btn-sm mt-3" onClick="javascript:addReply();">답글</button>'
                        str+='     </li>'
                        str+='     </ul>'
                        str+='     </div>'
                        });
                    listGroup.html(str);
                    }
                })
            });
        });
        $(".removeBtn").on("click",function () {
            if(!confirm("삭제 하시겠습니까?")){
                return;
            }
            var actionForm = document.querySelector("form");

            actionForm.submit();
        });
    </script>
</div>
</body>

</html>
